<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tochinavi.www.tochinaviapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Release：複数画面をサポート -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- 権限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- ストレージへのアクセス -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 通知時の振動機能 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Release：Nexus7対応 -->
    <!-- 必須機能 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySpotSearchNarrowArea"></activity>
        <activity android:name=".ActivitySpotSearchNarrowCategory1" />
        <activity android:name=".ActivitySpotSearchNarrowCategoryMulti" />
        <activity android:name=".ActivitySpotSearchNarrow" />
        <activity android:name=".ActivityMyWishList" />
        <activity android:name=".ActivityMyReviewList" />
        <activity android:name=".ActivityMyCheckinList" />
        <activity android:name=".ActivityMyBadgeDetail" />
        <activity android:name=".ActivityMyBadgeList" />
        <activity android:name=".ActivitySpotSearchList" />
        <activity android:name=".ActivityHospitalInfo" />
        <activity android:name=".ActivitySpotReviewDetail" />
        <activity android:name=".ActivitySpotInfoDetail" />
        <activity android:name=".ActivitySpotReviewImageList" />
        <activity android:name=".ActivitySpotReviewList" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ActivitySpotMap"
            android:label="@string/title_activity_spot_map" />
        <activity android:name=".ActivitySpotReviewDetail_ImageSearch" />
        <activity android:name=".ActivitySpotReviewGallery_ImageSearch" />
        <activity android:name=".ActivityMyDraftList" />
        <activity android:name=".ActivityInputReviewTag" />
        <activity android:name=".ActivityInputReview" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ActivitySpotInfo_ImageSearch" />
        <activity android:name=".ActivitySpotNeighborNarrowCategorySecond" />
        <activity android:name=".ActivitySpotNeighborNarrowCategoryThird" />
        <activity android:name=".ActivitySpotNeighborNarrow" /> <!-- Splash Screen -->
        <activity
            android:name=".ActivitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <!--
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".ActivityMyPageSetting" />
        <activity android:name=".ActivityLogin" />
        <activity
            android:name=".ActivityAppDataUpdate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityInitDescription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySpotReviewGalleryPreview_ImageSearch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivitySpotInfo" /> <!-- apiデザイン -->
        <activity
            android:name="com.andremion.louvre.home.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Louvre.Light.DarkActionBar" />
        <activity
            android:name="com.andremion.louvre.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Louvre.Preview" /> <!-- Android9でのHttp通信対策 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Google Map利用の為のAPIキー -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>